$dark-gray: #666666;
$semi-dark-gray: #c1c1c1;
$medium-gray: #f8f8f8;
$light-gray: #e5e5e5;
$ultra-light-gray: #EDEDED;

$white: #ffffff;
$white-ice: #fafafa;

$light-blue: #e4ecf5;
$royal-blue: #296095;

/* Deprecated use $color-accent instead */
$green-default-myquestrade: #6FAE2F;

$orange: orange;

$reminder-highlight: #ecf3fa;
$reminder-normal: #484848;
$alert-color: #DD3971;
$reminder-cout: #D72F46;

$sd-color: #6dba1e;
$piq-color: #5c5bae;
$blue-icon-color: #009EF0;
$blue-cornflower: #006CEA;

$blue-color: #296095;
$dark-gray-1: #FFECEC;
$dark-gray-11: #6E777D;
$light-gray-12: #9aa3ab;

// Final Layout Color.
$oxford-blue: #394353;
$color-primary: $oxford-blue;
$color-secundary: #bbc1c4;
$color-accent: #6FAE2F;
$color-accent-hover: #5e9428;
$link-color: #296095;
$link-color-hover: $color-primary;
$border-color: #e0e0e0;
$unrealized-gains-green: #7EDF9C;
$unrealized-gains-red: #EC99A6;
$border-color-input: rgb(180, 194, 206);
$slate-gray: #69788c;
$casablanca: #f8b848;
$river-bed: #3f4957;
$gallery-color: #ebebeb;
$black-squeeze: #e4edf5;
$shuttle-gray: #525D6C;
$regent-gray: #7d8a9b;
$silver: #CCCCCC;
$rolling-stone: #73767b;
$athens-gray: #F8F8FA;
$yellow-warning: #FDF8B2;
$valencia: #d82f47;
$gray: #828282;
$pale-sky: #6f777e;
$indigo: #397bc7;
$silver-sand: #bcc1c4;
$tundora: #484848;
$link-water: #ecf3fa;
$gray-chateau: #9aa3a8;
$oliver-drab: #5e9428;
$sea-buckthorn: #F9AE38;
$gray-disable: #c7d3e0;
$valencia-light: #fd7476;
$mischka: #CCD2DC;
$light-silver: #F6F7F9;
$lynch: #617089;
$alice-blue: #e8eef2;
$hawkes-blue: #ced6e2;
$rhino: #394352;
$blue-charcoal: #262d33;
$cyan-blue: #006be3;
